
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font family start */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pridi:wght@200;300;400;500;600;700&family=Square+Peg&family=Teko:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Quentin";
  font-style: normal;
  font-weight: 400;
  src: local("Quentin"),
    url("https://fonts.cdnfonts.com/s/26481/Quentin.woff") format("woff");
}

/* font family end */

.curb {
  clip-path: ellipse(100% 100% at 50% 0%);
  background: #ce03391a;
}

@media only screen and (max-width: 1021px) {
  .curb {
    clip-path: none;
    clip-path: ellipse(100% 61% at 53% 49%);
  }
}



/* preloader */
#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background: #fff;
}
.loading {
  font-weight: 700;
  font-size: 64px;
  line-height: 68px;
  margin-bottom: 41px;
  color: #D41B4B;
}
.loading span {
  display: inline-block;
  margin: 0 -0.05em;
  letter-spacing: 17px;
}

#preloader::after {
  background: #fff;
}
.loading span {
  animation: 1s infinite alternate loading;
}
.loading span:first-child {
  animation-delay: 0s;
}
.loading span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading span:nth-child(7) {
  animation-delay: 0.6s;
}
.loading span:nth-child(8) {
  animation-delay: 0.6s;
}
.loading span:nth-child(9) {
  animation-delay: 0.6s;
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* preloader */